# Java Compiled Class Files
*.class

# Executables & Archives
*.jar
*.war
*.ear
*.nar

# Java Build & IDE Output Directories
bin/
out/
target/
build/

# VS Code Specific Settings & Caches
.vscode/*
!.vscode/settings.json
.history/
*.code-workspace

# Mac/OS System Files
.DS_Store
Thumbs.db